<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="signup.css">
    <script type="text/montage-serialization">
    {
        "owner": {
            "properties": {
                "element": {"#": "owner"}
            }
        }
    }
    </script>
</head>
<body>
    <div data-montage-id="owner" class="Signup">
        <div class="outer">
            <div class="innerDiv">
                <div class="form-module">
                    <div class="formContainer">
                        <h2>Create to your account</h2>
                        <form>
                            <input type="text" placeholder="First Name">
                            <input type="text" placeholder="Last Name">
                            <input type="text" placeholder="Email id">
                            <input type="text" placeholder="Date of Birth (DD/MM/YEAR)">
                            <input type="text" placeholder="Company Name">
                            <input type="text" placeholder="Phone Number">
                            <textarea placeholder="Address"></textarea> 

                            <button>Sign Up</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
