<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="signin.css">
    <script type="text/montage-serialization">
   {
        "owner": {
            "properties": {
                "element": {"#": "signin"}
            }
        }
    }
    </script>
</head>
<body>
     <div data-montage-id="signin" class="Signin">
         <div class="outer">
             <div class="innerDiv">
                 <div class="form-module">
                     <div class="formContainer">
                         <h2>Login to your account</h2>
                         <form>
                             <input type="text" placeholder="Username">
                             <input type="password" placeholder="Password">
                             <button>Login</button>
                         </form>
                     </div>
                     <!--<div class="cta">
<a href="javascript: void()" class="fLeft">Forgot your password?</a>
<a href="register.html" class="fRight">Create an account</a>
</div>-->
                 </div>		
             </div>
         </div>
    </div>
</body>
</html>
